/* src/index.css */
:root {
    --primary-color: #1DA57A; /* Светлая тема */
    --body-background: #FFFFFF;
    --text-color: #000; /* Цвет текста */
  }
  
  body {
    background-color: var(--body-background);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s; /* Плавный переход */
  }
  
  .dark {
    --primary-color: #1DA57A; /* Темная тема */
    --body-background: #001529;
    --text-color: #fff; /* Цвет текста в темной теме */
  }
  